{% extends 'app/base.html' %}


{% block content %}

<div class="jumbotron bg-dark text-white">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p align="center">
    <a class="btn btn-lg btn-success" href="{% url 'form' %}">Commencer<a>
  </p>
</div>

{% endblock %}
